# https://www.aleksandrhovhannisyan.com/blog/crlf-vs-lf-normalizing-line-endings-in-git/
# https://stackoverflow.com/a/62554246
* text=auto eol=lf
# git rm --cached -r .
# git reset --hard
#
# git git add --renormalize .
#
# git ls-files --eol

